* {
  background-color: #fff;
  color: black;
  font-family: sans-serif;
}
body {
  width: 650px;
  margin: 0 auto;
}
div#puzzle {
  display: grid;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: repeat(4, 160px);
  grid-gap: 2px;
}

.tile {
  background: #000;
}

.pos00 { grid-row: 1 / 2; grid-column: 1 / 2; }
.pos01 { grid-row: 1 / 2; grid-column: 2 / 3; }
.pos02 { grid-row: 1 / 2; grid-column: 3 / 4; }
.pos03 { grid-row: 1 / 2; grid-column: 4 / 5; }
.pos10 { grid-row: 2 / 3; grid-column: 1 / 2; }
.pos11 { grid-row: 2 / 3; grid-column: 2 / 3; }
.pos12 { grid-row: 2 / 3; grid-column: 3 / 4; }
.pos13 { grid-row: 2 / 3; grid-column: 4 / 5; }
.pos20 { grid-row: 3 / 4; grid-column: 1 / 2; }
.pos21 { grid-row: 3 / 4; grid-column: 2 / 3; }
.pos22 { grid-row: 3 / 4; grid-column: 3 / 4; }
.pos23 { grid-row: 3 / 4; grid-column: 4 / 5; }
.pos30 { grid-row: 4 / 5; grid-column: 1 / 2; }
.pos31 { grid-row: 4 / 5; grid-column: 2 / 3; }
.pos32 { grid-row: 4 / 5; grid-column: 3 / 4; }
.pos33 { grid-row: 4 / 5; grid-column: 4 / 5; }

div#tile_1 {
  background-image: url('./../img/image.jpg');
  background-position: 0px 0px;
  background-size: 646px 646px;
}

div#tile_2 {
  background-image: url('./../img/image.jpg');
  background-position: 486px 0px;
  background-size: 646px 646px;
}

div#tile_3 {
  background-image: url('./../img/image.jpg');
  background-position: 324px 0px;
  background-size: 646px 646px;
}

div#tile_4 {
  background-image: url('./../img/image.jpg');
  background-position: 162px 0px;
  background-size: 646px 646px;
}

div#tile_5 {
  background-image: url('./../img/image.jpg');
  background-position: 0px 486px;
  background-size: 646px 646px;
}

div#tile_6 {
  background-image: url('./../img/image.jpg');
  background-position: 486px 486px;
  background-size: 646px 646px;
}

div#tile_7 {
  background-image: url('./../img/image.jpg');
  background-position: 324px 486px;
  background-size: 646px 646px;
}

div#tile_8 {
  background-image: url('./../img/image.jpg');
  background-position: 162px 486px;
  background-size: 646px 646px;
}

div#tile_9 {
  background-image: url('./../img/image.jpg');
  background-position: 0px 324px;
  background-size: 646px 646px;
}

div#tile_10 {
  background-image: url('./../img/image.jpg');
  background-position: 486px 324px;
  background-size: 646px 646px;
}

div#tile_11 {
  background-image: url('./../img/image.jpg');
  background-position: 324px 324px;
  background-size: 646px 646px;
}

div#tile_12 {
  background-image: url('./../img/image.jpg');
  background-position: 162px 324px;
  background-size: 646px 646px;
}

div#tile_13 {
  background-image: url('./../img/image.jpg');
  background-position: 0px 162px;
  background-size: 646px 646px;
}

div#tile_14 {
  background-image: url('./../img/image.jpg');
  background-position: 486px 162px;
  background-size: 646px 646px;
}

div#tile_15 {
  background-image: url('./../img/image.jpg');
  background-position: 324px 162px;
  background-size: 646px 646px;
}

div.solved {
  background-image: url('./../img/image.jpg');
  grid-column: 1 / 5;
  grid-row: 1 / 5;
  background-size: 650px 650px;
}

footer {
  font-size: .7em;
  margin-top: 1em;
  font-style: italic;
}

button#shuffle {
  font-size: 1.2em;
  display: none;
}
